*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-size:15px;

}
body{
    font-family: 'Josefin Sans', sans-serif;
}
section{
    max-width:1440px;
    margin:0 auto;
    padding:3% 5%;
}


/* container */
.container-fluid{
    padding:5% 5%;
}

/*section*/
.colored-section{
    color:hsl(0, 0%, 100%);
    font-family: 'Alata', sans-serif;
}

/*Color adn text*/
.alata{
    font-family:'Alata', sans-serif;
}
.text-secondary{
    color:hsl(0, 0%, 55%);
}
.text-darkgray{
    color:hsl(0, 0%, 41%);
}
.title-h1{
    color:hsl(0, 0%, 0%);
    text-transform: uppercase;
    font-size:2.5rem;
    margin-bottom:0;
}
.navbar-dark .navbar-nav .nav-link {
    color:white;
    padding-left:0;
}
/*header*/
#header{
    background-image:url(/assets/images/desktop/image-hero.jpg);
    background-size: cover;
}

/*navbar*/
.navbar-brand{
    font-size:2.5rem;
    cursor:default;
}
.navbar-nav{
    flex-direction: row;
}
#header .navbar-dark .navbar-nav .nav-link {
    color:white;
    margin:0px 10px;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color:white;
}
/*navbar end*/

.title-box{
    font-size:2.7rem;
    text-transform: uppercase;
    margin:3% 3% 3% 0%;
    padding:3%;
    border:2px solid hsl(0, 0%, 100%);
}
/*header end*/

/*Content*/

.img-container{
    position: relative;
    display:flex;
}

.img-container img{
    position: relative;
}

.text-box{
    background-color:hsl(0, 0%, 100%);
    position: absolute;
    z-index:2;
    width:50%;
    bottom: 0;
    right:0;
    text-align: left;
    padding:5%;
}


.creation{
    margin-top:10%;
}
.creation-title{
    display:flex;
}
.seeall{
    padding:0 5%;
    text-transform: uppercase;
}
.box-section{
    margin-top:5%;
    display:flex;
}
.box{
    position: relative;
    margin-top:3%;
}

.box-text{
    width:45%;
    color:white;
    position: absolute;
    bottom:0;
    left:10%;
}

/*Content end*/
/*Mobile content*/
#mobileContent{
    display:none;
}
/*Mobile content end*/
/*Footer*/
#footer{
    background-color:black;
}
#footer .navbar-dark .navbar-nav .nav-link {
    margin-right:10px;
    text-align: left;
}

.logo{
    display:flex;
}
.s-icons{
    padding-top:10px;
}
.s-icons .fab{
    color:white;
    font-size:2.0rem;
    margin:auto 10px;

}

.rights p{
    display:inline-block;
    margin:1rem;
}


/*Tablet size*/
@media only screen and (max-width: 768px)and (min-width: 426px) {
    /*Container*/
    .container-fluid{
        padding:3% 3%;
    }
    /*Header*/
    /*Mobile content*/
    #mobileContent{
        display: none;
    }
    .title-h1{
        font-size:2rem;
    }
    .img-container{
        flex-direction: column;
    }
    .text-box{
        order:-1;
        position: relative;
        width:100%;
        text-align: center;
    }

    .creation{
        margin-top:7%;
    }

    .s-icons .fab {
        font-size:1.5rem;
    }
}

/*Mobile*/
@media only screen and (max-width: 425px) {

    /*Content section*/
    #content{
        display:none;
    }
    #mobileContent{
        display:unset;
    }

    /*Header*/
    #header{
        background-image: url(/assets/images/mobile/image-hero.jpg);
    }
    .title-box{
        text-align: center;
    }
    .navbar-nav{
        flex-direction: column;
        text-align: center;
    }
    /*Content*/
    .box-text{
        width:20%;
    }
    .title-h1{
        text-align: center;
    }
    /*Footer*/
    .footer-section{
        text-align:center !important;
    }
    .footer-nav ul{
        flex-direction: column;
        margin:0 auto;
    }
    .footer-nav ul li a{
        text-align: center !important;
        margin-right:0 !important;
    }
    .logo{
        order:3;
    }
    .rights{
        text-align:center !important;
        order:4;
    }
    .s-icons{
        margin:0 auto!important;
    }
    .s-icons .fab {
        font-size:1.5rem;
    }

}